// hover effect
.tmponhover {
    position: relative;
    overflow: hidden;
    border: 1px solid var(--stroke-dark-100);
    &::before{
        content: '';
        position: absolute;
        inset: 0px;
        border-radius: inherit;
        border: 1px solid transparent;
        background-clip: border-box;
        -webkit-mask: var(--full) padding-box, var(--full);
        -webkit-mask-composite: xor;
        mask: var(--full) padding-box exclude, var(--full);
        pointer-events: none;
        background: var(--stroke-gr) border-box;
        z-index: 1;
        transition: .5s;
        transition: border-color .5s;
        opacity: 0;
        transition: opacity 0.5s ease;
        will-change: opacity;
        // background-size: 600% 600%;
        // animation: gradient 3s ease infinite;
    }
    &:hover{
        border-color: transparent;
        &::before{
            opacity: 1;
        }
    }
    &::after{
        content: '';
        position: absolute;
        inset: 2px;
        background: var(--color-gray-2);
        border-radius: 20px;
    }
    & > *{
        z-index: 2;
        position: relative;
    }
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}